# ╭──────────────────────────────────────ImplementationGuide───────────────────────────────────────╮
# │  The properties below are used to create the ImplementationGuide resource. For a list of       │
# │  supported properties, see: https://fshschool.org/docs/sushi/configuration/                    │
# ╰────────────────────────────────────────────────────────────────────────────────────────────────╯
id: dk.ehealth.sundhed.fhir.ig.core
canonical: http://ehealth.sundhed.dk/fhir
name: eHealth Infrastructure
title: eHealth Infrastructure
status: active # draft | active | retired | unknown
version: 3.2.0
fhirVersion: 4.0.1
copyrightYear: 2021+
releaseLabel: release # ci-build | draft | qa-preview | ballot | trial-use | release | update | normative+trial-use
description: The Danish eHealth Infrastructure Implementation Guide defines a set of FHIR profiles with extensions and bindings needed to create interoperable, quality-focused applications.

publisher:
  name: Den telemedicinske infrastruktur (eHealth Infrastructure)
  url: http://ehealth.sundhed.dk

dependencies:
  hl7.fhir.dk.core: 1.1.0
  hl7.fhir.uv.sdc: 2.7.0

parameters: # see https://confluence.hl7.org/display/FHIR/Implementation+Guide+Parameters
  path-resource:
    - input/resources
    - fsh-generated/resources

  path-pages:
    - input/includes
#    - input/include-ops
  
  
  usage-stats-opt-out: true
  show-inherited-invariants: false



# ╭────────────────────────────────────────────menu.xml────────────────────────────────────────────╮
# │  To use a provided input/includes/menu.xml file, delete the "menu" property below.             │
# ╰────────────────────────────────────────────────────────────────────────────────────────────────╯
menu:
  Table of Contents: toc.html
  Home: index.html
  General guidance: guidance.html
  FHIR Artifacts:
    Profiles and extensions: profiles.html
    Search Parameters: searchparams.html
    Operations: operations.html
    Operation examples: example-operations.html
  Artifacts Summary: artifacts.html
  Terminology: terminology.html
  Events:
    Event message types: event-messages.html
    Service event messages: service-event-tables.html
  Error Messsages: error-messages.html
  Capability Statements:
    CarePlan service: CapabilityStatement-careplan.html
    Device service: CapabilityStatement-device.html
    DocumentQuery service: CapabilityStatement-document-query.html
    DocumentTransformation service: CapabilityStatement-document-transformation.html
    Library service: CapabilityStatement-library.html
    Measurement service: CapabilityStatement-measurement.html
    Organization service: CapabilityStatement-organization.html
    Patient service:  CapabilityStatement-patient.html
    Plan service: CapabilityStatement-plan.html
    Questionnaire service: CapabilityStatement-questionnaire.html
    Reporting service: CapabilityStatement-reporting.html
    Task service: CapabilityStatement-task.html
    Terminology service: CapabilityStatement-terminology.html
  #Capability Statements: capability-statements.html
  Downloads: downloads.html
